h1 {font-family: 'Sevillana', cursive;  
    font-size: 50px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
display: inline;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li{
    padding-top: 15px;
    list-style-type: none;

   
}
ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 30px;


}

a:hover{
    color: blue;
}

#produto img{
    width: 350px;
    height: 400px;
}

h3{
    font-size: 25px;
    font-weight: bold;
   
   
}
#preco{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
   
}

#cont{
    margin-left: 200px;
 
    display: flex;
    justify-content: center;
    margin: 100px;
    
}

#produto{
    padding: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

footer p{
padding-top: 55px;
}

h4{
    font-size: 30px;

}